@charset "UTF-8";

@import "bootstrap";

.topics {
    &__title {
        color: $primary;

        &:hover {
            color: yellow;
        }

    }

    &__detail {
        text-align: justify;
    }
}
